<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">Donor</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start">
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>
      

        <ion-card-header>
          <ion-card-title>Kurt Lupin Oriqoues</ion-card-title>
          <ion-card-subtitle>
            <div class="card-info-header">
              <ion-text
              ><p><b>Blood Type:</b> A# 
              </ion-text>
              <ion-text
              ><p><b>Needs: </b> 1/3
              </p>
              </ion-text>
            </div>
            <ion-text
              ><p>
                <b>Location:</b> Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a
                type specimen book. It has survivew
              </p></ion-text
            >
          </ion-card-subtitle>
          <ion-button expand="block" color="success">Ping</ion-button>
        </ion-card-header>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-avatar slot="start">
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>

        <ion-card-header>
          <ion-card-title>Kurt Lupin Oriqoues</ion-card-title>
          <ion-card-subtitle>
            <ion-text
              ><p><b>Blood Type:</b> A#</p></ion-text
            >
            <ion-text
              ><p>
                <b>Location:</b> Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a
                type specimen book. It has survivew
              </p></ion-text
            >
          </ion-card-subtitle>
          <ion-button expand="block" color="success">Ping</ion-button>
        </ion-card-header>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start">
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>

        <ion-card-header>
          <ion-card-title>Kurt Lupin Oriqoues</ion-card-title>
          <ion-card-subtitle>
            <ion-text
              ><p><b>Blood Type:</b> A#</p></ion-text
            >
            <ion-text
              ><p>
                <b>Location:</b> Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a
                type specimen book. It has survivew
              </p></ion-text
            >
          </ion-card-subtitle>
          <ion-button expand="block" color="success">Ping</ion-button>
        </ion-card-header>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start">
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>

        <ion-card-header>
          <ion-card-title>Kurt Lupin Oriqoues</ion-card-title>
          <ion-card-subtitle>
            <ion-text
              ><p><b>Blood Type:</b> A#</p></ion-text
            >
            <ion-text
              ><p>
                <b>Location:</b> Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a
                type specimen book. It has survivew
              </p></ion-text
            >
          </ion-card-subtitle>
          <ion-button expand="block" color="success">Ping</ion-button>
        </ion-card-header>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start">
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>

        <ion-card-header>
          <ion-card-title>Kurt Lupin Oriqoues</ion-card-title>
          <ion-card-subtitle>
            <ion-text
              ><p><b>Blood Type:</b> A#</p></ion-text
            >
            <ion-text
              ><p>
                <b>Location:</b> Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a
                type specimen book. It has survivew
              </p></ion-text
            >
          </ion-card-subtitle>
          <ion-button expand="block" color="success">Ping</ion-button>
        </ion-card-header>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start">
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>

        <ion-card-header>
          <ion-card-title>Kurt Lupin Oriqoues</ion-card-title>
          <ion-card-subtitle>
            <ion-text
              ><p><b>Blood Type:</b> A#</p></ion-text
            >
            <ion-text
              ><p>
                <b>Location:</b> Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a
                type specimen book. It has survivew
              </p></ion-text
            >
          </ion-card-subtitle>
          <ion-button expand="block" color="success">Ping</ion-button>
        </ion-card-header>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start">
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>

        <ion-card-header>
          <ion-card-title>Kurt Lupin Oriqoues</ion-card-title>
          <ion-card-subtitle>
            <ion-text
              ><p><b>Blood Type:</b> A#</p></ion-text
            >
            <ion-text
              ><p>
                <b>Location:</b> Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a
                type specimen book. It has survivew
              </p></ion-text
            >
          </ion-card-subtitle>
          <ion-button expand="block" color="success">Ping</ion-button>
        </ion-card-header>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start">
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>

        <ion-card-header>
          <ion-card-title>Kurt Lupin Oriqoues</ion-card-title>
          <ion-card-subtitle>
            <ion-text
              ><p><b>Blood Type:</b> A#</p></ion-text
            >
            <ion-text
              ><p>
                <b>Location:</b> Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a
                type specimen book. It has survivew
              </p></ion-text
            >
          </ion-card-subtitle>
          <ion-button expand="block" color="success">Ping</ion-button>
        </ion-card-header>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start">
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>

        <ion-card-header>
          <ion-card-title>Kurt Lupin Oriqoues</ion-card-title>
          <ion-card-subtitle>
            <ion-text
              ><p><b>Blood Type:</b> A#</p></ion-text
            >
            <ion-text
              ><p>
                <b>Location:</b> Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a
                type specimen book. It has survivew
              </p></ion-text
            >
          </ion-card-subtitle>
          <ion-button expand="block" color="success">Ping</ion-button>
        </ion-card-header>
      </ion-item>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
